body
{
    font-family: "Open Sans",sans-serif;
}
html, body
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wp-core-ui .button2-primary 
{
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
}
.wp-core-ui .button2-green
{
    background: #009991;
}
.wp-core-ui .button2
{
    /* display: inline-block; */
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /* white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}
.wp-core-ui .button2-xtra
{
    padding-bottom: 10px;
    padding-top: 10px;
}
.wp-core-ui .button2:hover, .button2-primary:hover
{
    opacity: 0.6;
}
#cont_team_show
{
    box-shadow: 0 0 8px 0px rgb(204, 204, 204);
    left: 0px;
    top: 0px;
    position: absolute;
}
.cont_team_show
{
    height: 100px;
    width: auto;
    left: 0px;
    position: absolute;
    top: 0px;
}
#img_team_show
{
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 8px 0px rgb(204, 204, 204);
    cursor: pointer;
    background-position-x: 0;
    background-repeat: no-repeat;
    margin: 0 auto;
    /* background-size: 100%; */
}
.hidethis
{
    visibility: hidden;
    width: 0px;
}
.img-team-container
{
    width: 100%;
}
.img-team-wrapper
{
    width: 320px;
    margin: 0 auto;
    text-align: center;
}
.hide
{
    display: none;
}
.show
{
    display: inline-block;
}
#rngPerc
{
    width: 100%;
    height: 30px;
    margin: 0;
}
.range-value
{
    width: 100%;
    height: 20px;
    font-size: 1rem;
}
.range-left
{
    position: absolute;
    margin-left: -100px;
}
.range-right
{
    position: absolute;
    margin-left: 95px;
}
#tooltip_team
{
    position: absolute;
    top: 30px;
    width: 200px;
    height: auto;
    background: #009991;
    color: #fff;
    padding: 15px;
    /* border: 1px solid #c2e1f5; */
    margin: 0 auto;
    margin-left: 60px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgb(114, 114, 114);
}

#tooltip_team:after, #tooltip_team:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#tooltip_team:after {
	border-top-color: #009991;
	border-width: 10px;
	margin-left: -10px;
}
#tooltip_team:before {
	border-top-color: #009991;
	border-width: 11px;
	margin-left: -11px;
}

/* ADMIN PART */
#container_iframe_img
{
    width: 0;
    height: 500px;
    display: inline-block;
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width 0.5s;
    overflow: hidden;
    /* display: none; */
}
#wrapper_iframe_img
{
    z-index: 998;
    position: relative;
    height: 500px;
}
#back_iframe_img
{
    width: 100%;
    height: 500px;
    display: inline-block;
    z-index: 997;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.3;
}
#iframe_img
{
    height: 500px;
    overflow: hidden;
}
#fname_span
{
    margin: 0 auto;
}
.shut 
{
    position: absolute;
    margin-right: -25px;
    background: #fff;
    cursor: pointer;
    box-sizing: inherit;
    font-size: 20px;
    width: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    right: 25px;
}
.shut:hover
{
    opacity: 0.5
}
.shut2
{
    top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background: #00c7ba;
}
.w-auto
{
    width: auto;
}